.create-container {
  width: 30%;
  margin: auto;
  padding: 50px 30px;
  @media (min-width: 300px) and (max-width: 700px) {
    width: 70%;
  }
  .header {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-bottom: 30px;
  }
  .create-form {
    .input-form {
      margin-bottom: 20px;
    }
  }
  .btn-create {
    width: 100% !important;
  }
  .btn-login-container {
    padding-top: 10px;

    .btn-login {
      color: rgb(42, 157, 229);
      font-style: italic;
      text-decoration: underline;
    }
  }
}
