.accrodionWrapper {
  box-shadow: none !important;
  margin: auto !important;
  .arrowIcon {
    width: 17px;
    height: 17px;
    color: #000;
    @media (min-width: 1025px) and (max-width: 1440px) {
      width: 28px;
      height: 28px;
    }
    @media (min-width: 1441px) {
      width: 33px;
      height: 33px;
    }
  }
  .accrodionSummary {
    padding: 6px 14px 6px 14px;
    background-color: #e9e9e9;
    border-radius: 5px;
    min-height: auto !important;
    margin-bottom: 5px;
    @media (min-width: 1025px) and (max-width: 1440px) {
      padding: 10px 18px 10px 18px;
      border-radius: 8px;
    }
    @media (min-width: 1441px) {
      padding: 17px 29px 17px 26px;
      border-radius: 10px;
    }
    p {
      font-size: 13px;
      line-height: 1;
      font-weight: 600;
      @media (min-width: 1025px) and (max-width: 1440px) {
        font-size: 15px;
      }
      @media (min-width: 1441px) {
        font-size: 18px;
      }
    }

    div {
      margin: 0px;
      padding: 0px;
    }
  }
  .accrodionDetails {
    padding: 5px;
    @media (min-width: 1025px) and (max-width: 1440px) {
      padding: 14px;
    }
    @media (min-width: 1441px) {
      padding: 18px;
    }
  }
}

.accordianWrapperSmall {
  box-shadow: none !important;
  margin: auto !important;
  .arrowIcon {
    width: 20px;
    height: 20px;
    color: #000;
  }
  .accrodionSummary {
    padding: 10px 16px;
    background-color: #e9e9e9;
    border-radius: 5px;
    min-height: auto !important;
    p {
      font-size: 14px;
      line-height: 1.5;
      font-weight: 600;
    }
    div {
      padding: 0px;
      margin: 0px;
    }
  }
  .accrodionDetails {
    padding: 8px;
    @media (min-width: 1025px) and (max-width: 1440px) {
      padding: 18px;
    }
    @media (min-width: 1441px) {
      padding: 21px;
    }
  }
}
